* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Baskerville", serif;
  --bg: #424874;
  --bg-darker: #1b1e30;
  --btns: #dcd6f7;
  --btns-darker: #baaeef;
  --headings-text: #cacfd6;
  --choices-text: #971c57;
  --score-text: #9696f2;
  --lose-text: #9d152e
}
html {
  background-color: var(--bg-darker);
}
body {
  max-width: 1200px;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,p {
  color: var(--headings-text);
}
button {
  cursor: pointer;
  border: none;
  border-radius: 0.5em;
  height: max-content;
  max-width: 5em;
  font-size: 1.5em;
  font-weight: 600;
  padding: 0.9em 0.5em;
  background-color: var(--btns-darker);
}
button:hover {
  background-color: var(--btns);
}
button:active {
  transform: translateY(2px);
}
button:disabled {
  opacity: 0.2;
}
input[type="number"] {
  border: none;
  border-radius: 0.5em;
  font-size: 1.4em;
  background: var(--bg);
  color: white;
  width: 2.8em;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 4em;
  gap: 1em;
}
header p {
  display: inline-block;
  font-size: 1.3em;
  vertical-align: text-bottom;
}
.rounds {
  padding: 0.3em;
  max-width: 3.5em;
  font-size: 1em;
}
.container {
  display: flex;
  justify-content: space-around;
  min-height: 14em;
  
}
.container p {
  font-size: 3em;
  text-align: center;
}
.playerChoiceContainer{
  text-align: center;
  min-height: 14em;
}
.computerChoiceContainer {
  min-width: 7em;
  text-align: center;
}
.playerChoiceText,
.computerChoiceText {
  text-align: center;
  margin-top: 1em;
  color: #f192c7;
}
.playerScore,
.computerScore {
  height: 2em;
  text-align: center;
  font-size: 2em;
  color: var(--score-text);
}
.finalResult {
  font-size: 2.5em;
  height: 1em;
  text-align: center;
  padding-bottom: 4em;
}

.winnerText {
  color: greenyellow;
  font-weight: bold;
}
.loserText {
  color: var(--lose-text);
  font-weight: bold;
}
.buttons {
  gap: 4em;
  display: flex;
}

.restartBtn {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5em;
}
.restartGameButton {
  color: black;
  background-color: #eab308;
}
.restartGameButton:hover {
  background-color: #a16207;
}

/* Media Queries */

@media screen and (max-width: 880px) {
  .container {
    flex-wrap: wrap;
    gap: 9em;
  }
  .buttons {
    flex-basis: 100%;
    justify-content: center;
  }
  .playerChoiceContainer{
    order: 2;
  }
  .computerChoiceContainer{
    order: 3
  }
  .finalResult {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .restartBtn {
    padding: 0;
  }
}

@media screen and (max-width: 500px) {
  * {
    font-size: .95em;
  }
  .container{
    gap: 4.5em;
  }
  .finalResult {
    font-size: 1.5em;
  }
  header p {
    font-size: 1em;
  }
  h1 {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 376px) {
  * {
    font-size: 0.9em;
  }
  h1 {
    font-size: 1.5em;
  }
}